.mat-toolbar
 {
background-color: #ff4e00;

 }

 .img {
   float: left;
 }

 .divider {

    color: #cc3e00 !important;
    font-size: 150%;


 }

 .text {
   color: white !important;
   margin: 20px;
 }
 .text-right {
   float: right;
   color: white !important;
 }
